body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:205px;
}
#u2128 {
  position:absolute;
  left:22px;
  top:32px;
  width:530px;
  height:205px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:51px;
}
#u2130 {
  position:absolute;
  left:22px;
  top:236px;
  width:527px;
  height:51px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:36px;
}
#u2132 {
  position:absolute;
  left:22px;
  top:392px;
  width:710px;
  height:36px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:85px;
}
#u2134 {
  position:absolute;
  left:22px;
  top:297px;
  width:536px;
  height:85px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:360px;
}
#u2136 {
  position:absolute;
  left:22px;
  top:449px;
  width:752px;
  height:360px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:172px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:277px;
}
#u2138 {
  position:absolute;
  left:22px;
  top:842px;
  width:752px;
  height:277px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:130px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
