body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:774px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:205px;
}
#u2150 {
  position:absolute;
  left:22px;
  top:32px;
  width:530px;
  height:205px;
}
#u2151 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:51px;
}
#u2152 {
  position:absolute;
  left:22px;
  top:236px;
  width:527px;
  height:51px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:36px;
}
#u2154 {
  position:absolute;
  left:22px;
  top:392px;
  width:710px;
  height:36px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:85px;
}
#u2156 {
  position:absolute;
  left:22px;
  top:297px;
  width:536px;
  height:85px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:360px;
}
#u2158 {
  position:absolute;
  left:22px;
  top:449px;
  width:752px;
  height:360px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:172px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:277px;
}
#u2160 {
  position:absolute;
  left:22px;
  top:842px;
  width:752px;
  height:277px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:130px;
  width:748px;
  visibility:hidden;
  word-wrap:break-word;
}
