body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:557px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:121px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2405 {
  position:absolute;
  left:408px;
  top:287px;
  width:149px;
  height:121px;
}
#u2406 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
