body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:701px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:373px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2269 {
  position:absolute;
  left:437px;
  top:229px;
  width:264px;
  height:373px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2270 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:155px;
}
#u2271 {
  position:absolute;
  left:489px;
  top:421px;
  width:161px;
  height:155px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:70px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2273 {
  position:absolute;
  left:0px;
  top:40px;
  width:360px;
  height:640px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2275 {
  position:absolute;
  left:153px;
  top:101px;
  width:30px;
  height:40px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2277 {
  position:absolute;
  left:391px;
  top:220px;
  width:30px;
  height:40px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
