body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:634px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:120px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u502 {
  position:absolute;
  left:402px;
  top:35px;
  width:232px;
  height:120px;
}
#u503 {
  position:absolute;
  left:10px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u505 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
