body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:116px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2201 {
  position:absolute;
  left:395px;
  top:358px;
  width:173px;
  height:116px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2202 {
  position:absolute;
  left:10px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2203 {
  position:absolute;
  left:31px;
  top:175px;
  width:30px;
  height:40px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2205 {
  position:absolute;
  left:289px;
  top:413px;
  width:30px;
  height:40px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2207 {
  position:absolute;
  left:395px;
  top:318px;
  width:30px;
  height:40px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2209 {
  position:absolute;
  left:414px;
  top:541px;
  width:160px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2210 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2211 {
  position:absolute;
  left:289px;
  top:469px;
  width:30px;
  height:40px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2213 {
  position:absolute;
  left:395px;
  top:501px;
  width:30px;
  height:40px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
