body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2383 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:206px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2384 {
  position:absolute;
  left:431px;
  top:145px;
  width:269px;
  height:206px;
}
#u2385 {
  position:absolute;
  left:10px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u2386 {
  position:absolute;
  left:0px;
  top:451px;
  width:375px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2387 {
  position:absolute;
  left:750px;
  top:0px;
  width:375px;
  height:812px;
}
#u2388 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
