body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:202px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2140 {
  position:absolute;
  left:50px;
  top:664px;
  width:231px;
  height:202px;
}
#u2141 {
  position:absolute;
  left:10px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2142 {
  position:absolute;
  left:1713px;
  top:0px;
  width:360px;
  height:640px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2144 {
  position:absolute;
  left:2158px;
  top:0px;
  width:360px;
  height:640px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2148 {
  position:absolute;
  left:803px;
  top:0px;
  width:360px;
  height:640px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2150 {
  position:absolute;
  left:1250px;
  top:0px;
  width:360px;
  height:640px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2152 {
  position:absolute;
  left:2620px;
  top:0px;
  width:360px;
  height:640px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:131px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2154 {
  position:absolute;
  left:359px;
  top:664px;
  width:229px;
  height:131px;
}
#u2155 {
  position:absolute;
  left:10px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2156 {
  position:absolute;
  left:388px;
  top:0px;
  width:360px;
  height:640px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
