body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2179 {
  position:absolute;
  left:-1px;
  top:0px;
  width:360px;
  height:640px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:472px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2181 {
  position:absolute;
  left:342px;
  top:671px;
  width:303px;
  height:472px;
}
#u2182 {
  position:absolute;
  left:10px;
  top:10px;
  width:283px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2183 {
  position:absolute;
  left:342px;
  top:528px;
  width:30px;
  height:40px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2185 {
  position:absolute;
  left:451px;
  top:-1px;
  width:360px;
  height:640px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2187 {
  position:absolute;
  left:350px;
  top:451px;
  width:30px;
  height:40px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2189 {
  position:absolute;
  left:59px;
  top:561px;
  width:30px;
  height:40px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2191 {
  position:absolute;
  left:798px;
  top:467px;
  width:30px;
  height:40px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2193 {
  position:absolute;
  left:901px;
  top:0px;
  width:360px;
  height:640px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2195 {
  position:absolute;
  left:1211px;
  top:451px;
  width:30px;
  height:40px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2197 {
  position:absolute;
  left:1326px;
  top:0px;
  width:360px;
  height:640px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2199 {
  position:absolute;
  left:1733px;
  top:0px;
  width:360px;
  height:640px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201 {
  position:absolute;
  left:242px;
  top:535px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
