body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2287 {
  position:absolute;
  left:385px;
  top:153px;
  width:30px;
  height:40px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:211px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2289 {
  position:absolute;
  left:407px;
  top:243px;
  width:243px;
  height:211px;
}
#u2290 {
  position:absolute;
  left:10px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2291 {
  position:absolute;
  left:173px;
  top:271px;
  width:30px;
  height:40px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
