body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2457 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2458 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2459 {
  position:absolute;
  left:407px;
  top:0px;
  width:375px;
  height:812px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2461 {
  position:absolute;
  left:831px;
  top:0px;
  width:375px;
  height:812px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u2463 {
  position:absolute;
  left:1258px;
  top:0px;
  width:375px;
  height:812px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:85px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2465 {
  position:absolute;
  left:71px;
  top:873px;
  width:313px;
  height:85px;
}
#u2466 {
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:172px;
  background:inherit;
  background-color:rgba(250, 223, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2467 {
  position:absolute;
  left:71px;
  top:1008px;
  width:313px;
  height:172px;
}
#u2468 {
  position:absolute;
  left:10px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
